# Topolograph Configuration
TOPOLOGRAPH_PORT=8080

# MCP Server Configuration
MCP_PORT=8000

# MongoDB Configuration
MONGODB_DATABASE=admin
MONGODB_USERNAME=admin
MONGODB_PASSWORD=myadminpassword
MONGODB_HOSTNAME=mongodb

# Topolograph API Configuration
TOPOLOGRAPH_WEB_API_USERNAME_EMAIL=ospf@topolograph.com
TOPOLOGRAPH_WEB_API_PASSWORD=ospf
TOPOLOGRAPH_WEB_API_AUTHORISED_NETWORKS=127.0.0.1/32,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
TOPOLOGRAPH_API_TOKEN=your_api_token_here

# NAPALM Configuration, will be deprecated soon
NAPALM_USERNAME=your_napalm_username
NAPALM_PASSWORD=your_napalm_password
NAPALM_PORT=22

# DNS Configuration
DNS=8.8.8.8

# NetBox Configuration
NETBOX_URL=http://localhost:8000
NETBOX_RO_TOKEN=your_netbox_token
